@use '../../../styles/index.scss' as *;

.container{
  background: transparent;
  display: flex;
}
.card{
  @include card;
  margin-top: 20px;
  margin-bottom: 40px;
  border-radius: 20px;
}

.student-name{
  text-transform: capitalize;
}

.student-subject{
  text-transform: capitalize;
}
